
body {
  padding-top: 50px;
  
}

.App {
  background: grey;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-image {
  margin: 2px;
}

.login-form {
  width: 50%;
  margin: 5px auto;
  justify-content: center;
}

h2 {
  text-align: center;
}

.active-nav {
  background:#A8A8A7 ;
}

.nav {
  margin-right: 10px;
  color: lightgrey;
}

.nav:hover {
  color:white;
  
}

.company-container {
  color: white;
}

.company-row {
  border-bottom: 1px solid black;
}

.company-col {
  border-right: 1px solid black;
}

