
body {
  padding-top: 65px;
  
}

.App {
  background: #C0C0C0;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-image {
  margin: 2px;
}

.nav-bar {
  background-image: url('./images/modern.png');
  
}

.no-wrap-div {
  display: inline-flex;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.login-div {
  justify-content: center;
  background-image: url('./images/bluewave.jpg');
}
.login-form {
  width: 50%;
  margin: 5px auto;
  justify-content: center;
}

h2 {
  text-align: center;
}

.active-nav {
  background: yellow ;
}

.nav {
  margin: 2px;
  padding: 2px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  
}

.nav:hover {
  color:yellow;
  background: purple;
}

.nav-link {
  margin: 2px;
  padding: 2px;
  color: black;
}

.nav-link:hover {
  color:yellow;
  background: purple;
  
}

.company-container {
  color: white;
}

.company-row {
  
}

.company-col {
  border-right: 1px solid black;
}

.small-table {
  width: 100%;
  font-size: small;
  color: white;
  margin: 1px auto;
}

.small-table tr {
  border-bottom: 1px solid black;
}

h6 {
  background: darkslategray;
  text-align: center;
}

.watchlist-card-container {
  width: 50%;
}

.watchlist-div {
  width: 85%;
  text-align: center;
  margin: auto;
}

.watchlist-btn {
  margin: 5px;
}

.space-span {
  margin: 3px;
}

.daily-div {
  font-size: 11px;
}

thead {
  text-align: center;
}

.td-right {
  text-align: right;
}

.daily-form {
  vertical-align: bottom;
}

.daily-form-div {
  width: 95%;
  text-align: center;
  margin: auto;
}

.alert {
  text-align: center;
}

.home-col {
  background-color: lightblue;
  margin: 3px;
  min-height: 50px;
  border: 1px solid black;
  border-radius: 20px;
}

.home-col:hover {
  color:yellow;
  background: purple;
}

.home-div {
  margin: auto;
  width: 85%;
  height: 500px;
}